:root {
    --starwars: 'Star Wars', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 2s;
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    color: white;
    border-color: #ffe81f;
}

button:hover {
    border-color: white;
}

h1 {
    font-family: var(--starwars);
    font-size: 5vmin;
    letter-spacing: 0.1rem;
    color: black;
    text-shadow: 2px 0 #ffe81f, -2px 0 #ffe81f, 0 2px #ffe81f, 0 -2px #ffe81f,
        1px 1px #ffe81f, -1px -1px #ffe81f, 1px -1px #ffe81f, -1px 1px #ffe81f;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: black;
}

.modal-content>img {
    display: flex;
    height: 20vmin;
    border-radius: 50%;
}

#message {
    color: white;
}

#game {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#title {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

#boards {
    grid-column: 1 / span 3;
    grid-row: 2 / 4;
    display: grid;
}

#computer-board,
#player-board {
    background: transparent;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
}

#computer-board {
    grid-column: 1 / 1;
    grid-row: 2 / 4;
    display: none;
}

#player-board {
    grid-column: 2 / 3;
    grid-row: 2 /4;
    display: none;
    position: relative;
}

#player-board>div,
#computer-board>div {
    border: 0.1vmin solid darkgrey;
    background-size: contain;
    background-color: transparent;
}

#scores {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: none;
    grid-template-columns: repeat(6, 3vmin);
    grid-template-rows: repeat(3, 1fr);
}

#computerScore,
#playerScore {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
}

#computerScore {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

#playerScore {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}

#controls {
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
    display: grid;
    justify-items: center;
    align-items: center;
}

#ship-dock {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    justify-items: center;
    text-align: center;
    min-width: 15rem;
    max-width: 15rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#buttons-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    gap: 10px;
}

#ship-name {
    color: white;
    width: 100%;
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;
    align-items: center;
}

#all-ships {
    grid-column: 1/ 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#instructions-container {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    color: white;
    min-width: 15rem;
    max-width: 15rem;
    flex-direction: column;
    align-items: center;
}

#instructions {
    display: flex;
}

.ship-image {
    z-index: 1;
    rotate: 0deg;
    width: 10rem;
}

.space,
.stars {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.space {
    z-index: -2;
    background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
}

.stars {
    z-index: -1;
    background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
    animation: move-twink-back 600s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

.star-wars {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    z-index: 1;
}

.star-wars>#play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 5%;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 180s linear;
}

.crawl>.title {
    font-size: 90%;
    text-align: center;
}

.crawl>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}